* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: "Jost", sans-serif;
  background: url("../img/bg/bg2.png");
  background-attachment: fixed;
  position: relative; }

.container-bg-w {
  padding: 15px;
  background: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }

.btn {
  transition: all 0.3s ease; }

nav .navbar-collapse .navbar-nav {
  font-size: 15px; }
  nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 20px; }
    nav .navbar-collapse .navbar-nav .nav-item .nav-link.active {
      color: #ffffff; }

.container-bg-w.register {
  width: 35%;
  margin: auto; }

.container-bg-w.edit-user {
  width: 100%;
  margin: auto; }

.container-bg-w .custom-form .title .icon i {
  font-size: 42px; }
.container-bg-w .custom-form form, .container-bg-w .custom-form .form {
  width: 100%;
  margin: 10% auto; }
  .container-bg-w .custom-form form .group, .container-bg-w .custom-form .form .group {
    display: flex;
    flex-direction: row;
    margin: 5% 0; }
    .container-bg-w .custom-form form .group.group-align, .container-bg-w .custom-form .form .group.group-align {
      align-items: center; }
      .container-bg-w .custom-form form .group.group-align .terms, .container-bg-w .custom-form .form .group.group-align .terms {
        font-size: 14px; }
      .container-bg-w .custom-form form .group.group-align input[type="checkbox"], .container-bg-w .custom-form .form .group.group-align input[type="checkbox"] {
        display: inline-block;
        width: 30px; }
    .container-bg-w .custom-form form .group input, .container-bg-w .custom-form form .group select, .container-bg-w .custom-form .form .group input, .container-bg-w .custom-form .form .group select {
      width: 100%;
      border: none;
      outline: none; }
    .container-bg-w .custom-form form .group.text, .container-bg-w .custom-form .form .group.text {
      justify-content: center; }

.group-custom {
  display: flex;
  flex-direction: row;
  margin: 5% 0; }
  .group-custom input, .group-custom select {
    width: 100%;
    border: none;
    outline: none; }

.container-bg-w.post-f {
  width: 100%; }

.post-f, .post-order {
  margin-top: 2%; }
  .post-f .content, .post-order .content {
    display: flex;
    flex-direction: row; }
    .post-f .content .image, .post-order .content .image {
      width: 20%;
      cursor: pointer; }
      .post-f .content .image img, .post-order .content .image img {
        vertical-align: top;
        width: 100%; }
    .post-f .content .info, .post-order .content .info {
      display: flex;
      flex-direction: column; }
      .post-f .content .info .title, .post-order .content .info .title {
        font-size: 20px; }
      .post-f .content .info .btns, .post-order .content .info .btns {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; }

.container-bg-w.create-product {
  width: 100%;
  margin: auto; }
  .container-bg-w.create-product .custom-form .form.title-desc {
    padding: none;
    margin-top: -20px; }
  .container-bg-w.create-product .custom-form .form .group {
    flex-direction: column; }
    .container-bg-w.create-product .custom-form .form .group span {
      font-size: 18px; }
    .container-bg-w.create-product .custom-form .form .group textarea {
      width: 100%;
      border: none;
      outline: none;
      padding: 10px 0;
      min-height: 300px; }
    .container-bg-w.create-product .custom-form .form .group input, .container-bg-w.create-product .custom-form .form .group textarea, .container-bg-w.create-product .custom-form .form .group select {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding: 10px; }
  .container-bg-w.create-product .custom-form .form .image {
    width: 15%; }
    .container-bg-w.create-product .custom-form .form .image img {
      vertical-align: top;
      width: 100%; }

.post .card {
  display: flex; }
  .post .card .image {
    width: 50%;
    align-self: center;
    cursor: pointer; }
    .post .card .image img {
      width: 100%;
      vertical-align: top; }
  .post .card .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .post .card .head .price {
      font-size: 24px;
      display: inline-block; }

.container-bg-w.post-order {
  width: 80%;
  margin: auto; }

.post-order-col {
  margin-top: 2%; }
  .post-order-col .post-order .content .image {
    width: 15%; }
  .post-order-col .post-order .content .info {
    flex-direction: row;
    align-items: center; }
    .post-order-col .post-order .content .info p {
      width: 70%; }
    .post-order-col .post-order .content .info .btns {
      width: 30%;
      display: flex;
      flex-direction: column; }
      .post-order-col .post-order .content .info .btns .info-product span {
        width: 100%;
        display: inline-block; }

.alert-custom {
  width: 100%;
  padding: 15px 30px;
  margin-top: 10%;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: none; }
  .alert-custom.danger {
    background: #FF5E5E;
    color: #ffffff; }
  .alert-custom.success {
    background: #5EBC6B;
    color: #ffffff; }

.spinner {
  margin-top: 10%; }

.post.prepay .card {
  width: 60%;
  margin: auto; }
  .post.prepay .card .image {
    width: 25%;
    margin-top: 2%;
    cursor: default; }
  .post.prepay .card .card-body {
    width: 50%;
    margin: 2% auto; }
    .post.prepay .card .card-body .info {
      margin: 4% 0;
      display: flex;
      flex-direction: column;
      margin-bottom: 10%; }
      .post.prepay .card .card-body .info .alert-no-login {
        font-size: 20px; }
        .post.prepay .card .card-body .info .alert-no-login a {
          text-decoration: none; }
      .post.prepay .card .card-body .info input {
        width: 15%;
        padding: 3px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        outline: none; }
      .post.prepay .card .card-body .info .total {
        font-size: 24px;
        padding: 5px 0; }
    .post.prepay .card .card-body a {
      color: #ffffff; }

.container.edit-container {
  width: 40%;
  margin: auto; }
  .container.edit-container .section-edit .section {
    margin: auto; }
    .container.edit-container .section-edit .section form .head {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .container.edit-container .section-edit .section form .head .title {
        font-size: 20px; }
    .container.edit-container .section-edit .section form .content .group-custom.double {
      display: flex;
      direction: row; }
    .container.edit-container .section-edit .section form .content .text-e {
      display: inline-block;
      padding-bottom: -20px; }
    .container.edit-container .section-edit .section .myaddress .title {
      font-size: 20px; }
    .container.edit-container .section-edit .section .myaddress .infos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 3%; }
      .container.edit-container .section-edit .section .myaddress .infos .info {
        display: flex;
        flex-direction: column;
        margin: 2% 0; }

.col-lg-12 .error-message {
  display: flex;
  flex-direction: column; }
  .col-lg-12 .error-message .text {
    font-size: 24px;
    margin: 3% 0;
    width: 100%;
    text-align: center; }
  .col-lg-12 .error-message a {
    text-decoration: none;
    font-size: 20px;
    color: #000000; }
  .col-lg-12 .error-message .image {
    width: 20%;
    margin: 3% auto; }
    .col-lg-12 .error-message .image img {
      vertical-align: top;
      width: 100%; }

.box .head {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  width: 100%; }
  .box .head.input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5px; }
    .box .head.input input {
      border: none;
      outline: none;
      width: 50%; }
.box .content {
  padding: 4% 0; }
  .box .content .f-raw, .box .content .s-raw {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .box .content .f-raw .stadistic, .box .content .s-raw .stadistic {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 23px; }
      .box .content .f-raw .stadistic .number, .box .content .s-raw .stadistic .number {
        font-size: 30px; }
  .box .content .s-raw {
    justify-content: space-around; }
  .box .content .notif {
    padding: 5% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .box .content .notif.green {
      border-left: 2px solid #5EBC6B; }
    .box .content .notif.yellow {
      border-left: 3px solid #F0AD4E; }

/*# sourceMappingURL=styles.css.map */
